@import bootstrap.scss
@import compass/css3
@import compass/utilities
@import compass/utilities/sprites
@import compass/css3/background-size
@import animation
@import compass/css3/transition
@import compass/css3/transform
@import compass/css3/opacity

@mixin ifretina
	@media (min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:3/2),(-webkit-min-device-pixel-ratio:1.5),(min-device-pixel-ratio:1.5)
		@content

@mixin ifretinahd
	@media (min--moz-device-pixel-ratio:2.5),(-o-min-device-pixel-ratio:5/2),(-webkit-min-device-pixel-ratio:2.5),(min-device-pixel-ratio:2.5)
		@content
				
@mixin viewport-xs
	@media (max-width: ($screen-sm - 1))
		@content

@mixin viewport-sm
	@media (min-width: $screen-sm) and (max-width: ($screen-md - 1))
		@content

@mixin viewport-md
	@media (min-width: $screen-md) and (max-width: ($screen-lg - 1))
		@content

@mixin viewport-lg
	@media (min-width: $screen-lg)
		@content

[class^="i-"], .controlArrow.prev, .controlArrow.next
	display:        inline-block
	overflow:       hidden
	text-indent:    300px
	background-repeat: no-repeat
	vertical-align: middle

.inverted
	color: #fff

$sprites: sprite-map("sprite/*.png", $spacing: 16px)
$sprites2x: sprite-map("sprite_2x/*.png", $spacing: 16px)
$sprites3x: sprite-map("sprite_3x/*.png", $spacing: 16px)

$spritemap-spacing: 20px

=sprite-background($name)
	background-image: sprite-url($sprites)
	background-position: sprite-position($sprites, $name)
	height: image-height(sprite-file($sprites, $name))
	width: image-width(sprite-file($sprites, $name))

	@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-device-pixel-ratio: 1.5)
		background-image: sprite-url($sprites2x)
		background-position: 0 round(nth(sprite-position($sprites2x, $name), 2) / 2)
		height: round(image-height(sprite-file($sprites2x, $name)) / 2)
		width: round(image-width(sprite-file($sprites2x, $name)) /2 )
		
	@media (-webkit-min-device-pixel-ratio: 2.5), (-o-min-device-pixel-ratio: 5/2), (min-device-pixel-ratio: 2.5)
		background-image: sprite-url($sprites3x)
		background-position: 0 round(nth(sprite-position($sprites3x, $name), 2) / 3)

	+background-size(ceil(image-width(sprite-path($sprites2x)) / 2) auto)



//.i-logo
//	+sprite-background(logo)
//.i-exchange
//	+sprite-background(exchange)
//.i-sell
//	+sprite-background(sell)
//.i-buy
//	+sprite-background(buy)


.i-twitter
	+sprite-background(twitter)
.i-facebook
	+sprite-background(facebook)
.i-instagram
	+sprite-background(instagram)
.i-arrow-down
	+sprite-background(arrow-down)
.i-arrow-right
	+sprite-background(arrow-right)
	&.pull-right
		margin: 6px -4px 0 0
.i-cart
	+sprite-background(cart)
.i-cart-highlight, .active .i-cart
	+sprite-background(cart-highlight)
.i-cart-inverted
	+sprite-background(cart-inverted)
.i-close-highlight
	+sprite-background(close-highlight)
.i-logo-xs
	+sprite-background(logo-xs)
.i-logo-sm
	+sprite-background(logo-sm)
	margin-top: 2px
.i-rating-inverted
	+sprite-background(rating-inverted)
.i-rating
	+sprite-background(rating)
.i-menu
	+sprite-background(menu)
.i-search
	+sprite-background(search)
.i-search-highlight
	+sprite-background(search-highlight)
.i-search-inverted
	+sprite-background(search-inverted)
	margin: -2px -5px 0 -3px
.i-user
	+sprite-background(user)
.i-user-highlight
	+sprite-background(user-highlight)
.i-bubble-inverted
	+sprite-background(bubble-inverted)
.i-add-inverted
	+sprite-background(add-inverted)
.i-add
	+sprite-background(add)
	margin-bottom: -2px

.margin-tiny,.margin-small,.margin-medium,.margin-large,.margin-huge
	display: block

.margin-tiny
	height: 8px
.margin-small
	height: 24px
.margin-medium
	height: 32px
.margin-large
	height: 48px
.margin-huge
	height: 80px
.h1-epic
	font-size: 68px
.cut-out,.cut-out-dynamic
	background: $gray-lighter
	padding: 12px 16px
.cut-out-dynamic
	&:hover
		background: #E0E0E0
	&.active
		box-shadow: 0 4px 0 $brand-secondary
		&::after
			position: absolute
			content: ''
			left: 50%
			bottom: -14px
			margin-left: -10px
			display: block
			width: 0
			height: 0
			border-left: 10px solid transparent
			border-right: 10px solid transparent
			border-top: 10px solid $brand-secondary
@include viewport-xs
	.cut-out-dynamic.active
		box-shadow: none
		&::after
			display: none !important
.cut-out-frame
	border: 1px solid rgba(0,0,0,0.2)
	padding: 12px 16px
.text-success
	color: $brand-secondary
.gap-left
	margin-left: 16px
.gap-right
	margin-right: 16px
footer
	background: #E8E8E8
	font-size: 12px
	font-weight: 400
	.list-unstyled
		margin-top: 8px
		margin-bottom: 0
		padding-bottom: 0
		li
			display: block
			padding-top: 8px
.icons-row span
	margin-right: 5px

[class^="user-pic-"]
	overflow: hidden
	border-radius: 100%
	display: inline-block
	background: $gray-lighter
	position: relative
	vertical-align: middle
	@include transition(box-shadow ease 0.2s)
	img
		position: relative
		top: 0
		left: 0
[class^="user-pic-"]:hover
	+box-shadow(0 0 0 3px $brand-secondary)
.user-pic-sm
	height: 32px
	width: 32px
	img
		height: 32px
		width: 32px
.user-pic-md
	height: 80px
	width: 80px
	img
		height: 80px
		width: 80px
.user-pic-lg
	height: 100px
	width: 100px
	img
		height: 100px
		width: 100px
.panel-body .user-pic-lg
	margin-top: -40px
.product-list-item
	position: relative
	+box-shadow(inset 0px 0px 0px 1px rgba(0,0,0,0.2))
	margin-bottom: 24px
	&.inverted
		background: #fff
		+box-shadow(none)
a.product-list-description:link,a.product-list-description:visited
	display: block
	text-decoration: none
	padding-bottom: 8px
	span
		display: block
		color: $gray-light
		font-size: 12px
		font-weight: 400
		margin: 8px 8px 0 8px
		overflow: hidden
		height: 3.6em
		line-height: 1.2em
		b
			font-weight: inherit
	img
		background-color: $gray-lighter
		+background-size(cover)
		+box-shadow(inset 0px 0px 0px 1px rgba(0,0,0,0.2))
.product-list-seller
	float: right
	margin: 0px 8px 8px 8px
.product-list-price
	font-weight: 600
	font-size: 16px
	color: $brand-secondary
	margin: 0px 0px 8px 8px
	line-height: 32px
	height: 32px
	display: inline-block
	s
		color: $gray-light
a.product-list-description:hover span
	color: $brand-secondary

.user-rating,a.user-rating:link,a.user-rating:visited
	background: $brand-secondary
	color: #fff
	font-weight: 600
	border-radius: 2px
	display: inline-block
	padding: 0px 4px
	font-size: 12px
	height: 19px
	line-height: 19px
	vertical-align: middle
	@include transition(background ease 0.2s)
	.i-rating-inverted
		margin-top: -2px
a.user-rating:hover
	color: #fff
	background: #00A673
	text-decoration: none
.header-nav > ul
	padding: 0
	margin: 0
	> li
		padding: 0
		margin: 0
		display: inline-block
		list-style: none
.header-item-content
	display: none
	position: absolute
	font-size: 13px
	padding: 24px
	background: $brand-secondary
	+box-shadow(inset 0 1px rgba(0,0,0,0.2))
	color: #fff
	right: 12px
	top: 59px
	z-index: 10
	&.open
		display: block
		@include animation(appear-top 0.25s ease-out forwards)
	.input-group
		background: #fff
		border: 2px solid #fff

.header-cart .header-item-content
	width: 440px
	.owl-dots
		position: relative
		top: -16px
		.owl-dot
			span
				background: rgba(255,255,255,0.5)
			&.active, &:hover
				span
					background: #fff
	.submit-area
		+box-shadow(inset 0 1px rgba(0,0,0,0.1))
		padding: 24px
		margin: 0 -24px -24px -24px
		font-size: 16px

.dropdown-menu>li>a
	font-weight: 400

@include keyframes(appear-top)
	0%
		opacity: 0
		@include transform(translate(0, 10px))
	100%
		opacity: 1
		@include transform(translate(0, 0))

@include viewport-xs
	.header-nav
		position: static
	.header-item-content
		top: 44px
		width: 100% !important
		right: 0
	.carousel-cart
		width: auto !important

.header-item-content.list-group
	padding: 0
	font-size: 16px
	.list-group-item
		background: transparent
		border: 0
		color: #fff
		&:hover
			background: rgba(0,0,0,0.20)
		.badge
			background: #fff
			color: $brand-secondary
			margin-top: 3px
.badge
	background-color: $brand-secondary
h4.list-group-item
	padding-top: 12px
	padding-bottom: 12px

@include viewport-lg
	a.product-list-description:link span,a.product-list-description:visited span
		height: 2.4em

@include keyframes(rotation)
	0%
		@include transform(rotate(0deg))
	100%
		@include transform(rotate(360deg))

@include viewport-xs
	.h1-xs
		font-size: $font-size-h1 !important
	.h2-xs
		font-size: $font-size-h2 !important
	.h3-xs
		font-size: $font-size-h3 !important
	.h4-xs
		font-size: $font-size-h4 !important
	.h5-xs
		font-size: $font-size-h5 !important
	.text-center-xs
		text-align: center
	.text-left-xs
		text-align: left
	.text-right-xs
		text-align: right

@include viewport-sm
	.h1-sm
		font-size: $font-size-h1 !important
	.h2-sm
		font-size: $font-size-h2 !important
	.h3-sm
		font-size: $font-size-h3 !important
	.h4-sm
		font-size: $font-size-h4 !important
	.h5-sm
		font-size: $font-size-h5 !important
	.text-center-sm
		text-align: center
	.text-left-sm
		text-align: left
	.text-right-sm
		text-align: right

@include viewport-md
	.h1-md
		font-size: $font-size-h1 !important
	.h2-md
		font-size: $font-size-h2 !important
	.h3-md
		font-size: $font-size-h3 !important
	.h4-md
		font-size: $font-size-h4 !important
	.h5-md
		font-size: $font-size-h5 !important
	.text-center-md
		text-align: center
	.text-left-md
		text-align: left
	.text-right-md
		text-align: right

@include viewport-lg
	.h1-lg
		font-size: $font-size-h1 !important
	.h2-lg
		font-size: $font-size-h2 !important
	.h3-lg
		font-size: $font-size-h3 !important
	.h4-lg
		font-size: $font-size-h4 !important
	.h5-lg
		font-size: $font-size-h5 !important
	.text-center-lg
		text-align: center
	.text-left-lg
		text-align: left
	.text-right-lg
		text-align: right

small,.small
	font-size: $font-size-small
	font-weight: 400

html, body
	height: 100%
	font-weight: 300

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6
	padding: 0
	margin: 0
	font-weight: 800
.h1,.h2,.h3,.h4,.h5,.h6
	p
		line-height: $line-height-base
		margin: auto
p.h1,p.h2,p.h3,p.h4,p.h5,p.h6
	line-height: $line-height-base
	margin: auto

[class^="col-"].center-block
	float: none

.full-height,.full-height-sm,.full-height-md
	.container
		height: 100%
		> .row
			height: 100%
.overflow-fix
	overflow: hidden

@media (min-width: $screen-sm)
	.cols-valign-middle-sm
		display: -webkit-flexbox
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-flex-align: center
		-ms-flex-align: center
		-webkit-align-items: center
		align-items: center
	
@media (min-width: $screen-md)
	.cols-valign-middle-md
		display: -webkit-flexbox
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-flex-align: center
		-ms-flex-align: center
		-webkit-align-items: center
		align-items: center
			
@media (min-width: $screen-lg)
	.cols-valign-middle-lg
		display: -webkit-flexbox
		display: -ms-flexbox
		display: -webkit-flex
		display: flex
		-webkit-flex-align: center
		-ms-flex-align: center
		-webkit-align-items: center
		align-items: center

.text-thin
	font-weight: 200
	.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6
		font-weight: inherit

.form-inverted, footer
	.form-control
		border: 0
		+box-shadow(none)

.btn
	&.btn-transparent
		background: transparent
		font-weight: inherit
		border: 1px solid $input-border
		&:hover
			color: $brand-secondary
	&.btn-default.inverted
		background: #fff
		color: $brand-secondary
		font-weight: 400
.open .btn.btn-transparent
	color: $brand-secondary
	

.btn-wide
	width: 100%
	padding-left: 0
	padding-right: 0
	text-align: center

.navbar-default
	border-top: 0
	border-right: 0
	border-left: 0
	padding-right: 0 !important
	.container
		padding-top: 16px
	.input-group
		border: 2px solid $brand-secondary
		padding: 2px
		input, button
			border-color: transparent
			box-shadow: none
		.btn
			margin-right: -0.5px
	.btn-link
		padding-left: 8px
		padding-right: 8px
.header-mobile-menu
	padding-left: 0 !important

.header-profile > .btn-link
	color: $brand-secondary
	font-weight: 400
	&:hover, &.active
		text-decoration: none
		color: $brand-primary

@include viewport-xs
	.navbar.navbar-default
		height: 45px
		min-height: 45px
		.btn-link
			padding-top: 2px
			padding-bottom: 2px
		.container
			padding-top: 6px
	.header-profile .header-item-switcher .user-pic-sm, .header-profile .header-item-switcher .user-pic-sm img
		width: 26px
		height: 26px

//.landing-headline
//	background: $brand-secondary
//	color: #fff
//	padding: 10px 20px
//	+transform(rotate(-2deg))
//	position: relative
//	margin-bottom: -56px
//	&::after, &::before
//		position: absolute
//		width: 2px
//		height: 150px
//		background: $brand-secondary
//		display: block
//		content: ''
//		bottom: 100%
//		left: 14px
//		+transform(rotate(2deg))
//	&::before
//		left: auto
//		right: 10px
//
//.landing-hero
//	background: url(/img/landing/room.jpg) top center no-repeat
//	+background-size(1389px 526px)
//	height: 526px
//@include viewport-xs
//	.landing-hero
//		height: auto
//		background: none !important
//	.landing-hero-xs
//		background: url(/img/landing/room-mobile.jpg) center no-repeat
//		+background-size(cover)
//		width: 100%
//		height: 47.685185%

//.landing-comingin
//	font-weight: 600
//	text-transform: uppercase
//	display: block
//	h2
//		color: #fff
//		font-size: 24px
//		display: block
//	h1
//		display: inline-block
//		color: $brand-primary
//		font-size: 52px
//		background: #fff
//		line-height: 1.19230769em
//		padding: 0 5px
//		margin-top: -10px
//@include viewport-xs
//	.landing-comingin
//		text-align: center
//		margin-bottom: -8px
//		h2
//			color: $brand-primary
//		h1
//			color: #fff
//			background: $brand-primary
	
//@include ifretina
//	.landing-hero
//		background-image: url(/img/landing/room@2x.jpg)
//
//@include ifretinahd
//	.landing-hero
//		background-image: url(/img/landing/room@3x.jpg)

.label
	padding: 0 0.2em 0.1em
	font-size: inherit
	border-radius: 0

hr
	margin: 0
label
	text-align: left !important
	font-weight: inherit !important

.section-gray
	background: #E8E8E8
	hr
		border: 4px solid #fff
	.form-control
		border-color: #fff
		+box-shadow(inset 0 1px 1px #fff)
		&:focus
			border-color: $brand-secondary
			+box-shadow(inset 0 0 0 2px $brand-secondary)

.mobile-menu
	display: none
	opacity: 0
	padding: 24px
	background: rgba(255,255,255,0.98)
	position: fixed
	top: 0
	left: 0
	width: 100%
	overflow: scroll
	height: 100%
	z-index: 9999999
	.list-unstyled
		margin-top: 8px
		margin-bottom: 0
		padding-bottom: 0
		li
			display: block
			padding-top: 8px
	&.open
		display: block
		opacity: 1
		@include animation(appear 0.25s ease-out forwards)
	hr
		margin: 0 -24px

@include keyframes(appear)
	0%
		opacity: 0
	100%
		opacity: 1

.carousel-item,.carousel-item .item
	max-width: 392px

.item-general,.item-media
	height: 445px
	.table
		td
			border: 0
			padding: 4px 8px 4px 0
@include viewport-xs
	.item-general,.item-media
		height: auto
	.item-media
		padding: 0 !important
	.carousel-item,.carousel-item .item
		max-width: 100% !important
@include viewport-sm
	.item-general,.item-media
		height: auto


.item-general-quantity
	td
		padding-top: 16px !important
		vertical-align: middle !important
		white-space: nowrap
	input
		width: 60px

.item-general-price
	background: $brand-secondary
	border-radius: 22px 2px 2px 22px
	height: 44px
	color: #fff
	font-weight: 600
	font-size: 20px
	padding: 4px 6px 0 22px
	text-align: center
	line-height: 18px
	position: relative
	&::before
		display: block
		position: absolute
		height: 7px
		width: 7px
		background: #fff
		overflow: hidden
		content: ''
		left: 8px
		top: 21px
		border-radius: 50%
	small
		display: block
		font-weight: 300

.add-item-photos figure
	height: 80px
	width: 80px
	background: $gray-lighter
	text-align: center
	display: block
	cursor: pointer
	color: $brand-secondary
	img
		cursor: move

@import owl/owl.animate.scss
@import owl/owl.autoheight.scss
@import owl/owl.carousel.scss
@import owl/owl.lazyload.scss
@import owl/owl.theme.default.scss
@import owl/owl.video.scss
@import owl/theme.scss