@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

.error {
  		box-shadow: 0 0 5px rgba(255, 0, 0, 1);
  		padding: 3px 0px 3px 3px;
  		margin: 5px 1px 3px 0px;
  		border: 1px solid rgba(255, 0, 0, 1);
	}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:50px;
	background: #FFF;
}

/* #modal_trigger {margin:100px auto; width:100px; display:block;} */

.btn-login-form {padding:10px 20px; background: #F4F4F2;}
.btn_red {background: #ED6347; color: #FFF;}

.btn-login-form:hover {background: #E4E4E2;}
.btn_red:hover {background: #C12B05;}

a.btn-login-form {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}

.action_btns {clear:both; overflow: hidden;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}

/* forgot password */
.recover_password {display: none;}
.recover_password label {display: block; margin-bottom:5px;}
.recover_password input[type="text"], .recover_password input[type="email"], .recover_password input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}

/* password reset */
.reset_password {display: none;}
.reset_password label {display: block; margin-bottom:5px;}
.reset_password input[type="text"], .reset_password input[type="email"], .reset_password input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
